body{
    background-color: rgb(205, 234, 253);
}
h1{
    background-color: rgb(255, 225, 230);
    color: mediumblue;
}
#show_sketch{
    float: right;
    margin-right: 20px;
}
#score{
    margin-left: 100px;
    float: left;
    font-size: 24px;
    font-weight: bold;
}
#timer{
    margin-right: 100px;
    float: right;
    font-size: 24px;
    font-weight: bold;
}
#confidence{
    font-size: 20px;
    font-weight: bold;
}
#sketch_to_be_drawn{
    font-size: 20px;
    font-weight: bold;
}
#label{
    font-size: 20px;
    font-weight: bold;
}
body{
    background-color: rgb(202, 255, 255);
}
h1{
    background-color: rgb(255, 251, 212);
    color: mediumblue;
}
#show_sketch{
    float: right;
    margin-right: 20px;
}

canvas
{
    border:5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 8s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from {box-shadow: 3px 3px 38px lightcoral}
    to {box-shadow: 3px 3px 38px lightgreen;}
}